div[role='button'] {
  outline: 0;
}
.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
.question-disabled-wrapper {
  cursor: not-allowed;

  filter: opacity(0.5);
}
.question-disabled {
  pointer-events: none;
}
